{% extends 'base.html' %}

{% load static %}

{% block content %}

<section id="content">	
			
    <!-- Page Heading -->
    <section class="section page-heading animate-onscroll">
        
        <h1>About us</h1>
        <p class="breadcrumb"><a href="main-v1.html">Home</a> / About Us</p>
        
    </section>
    <!-- Page Heading -->
    

    
    <!-- Section -->
    <section class="section full-width-bg gray-bg">
        
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8">
                
                <div class="row">
                
                    <div class="col-lg-12 col-md-12 col-sm-12">
                
                        <h3 class="animate-onscroll no-margin-top">{{ ctx.title }}</h3>

                        <p>{{ ctx.content }}</p>
                    </div>
                    
                </div>
                

            </div>
            
            
            
            <!-- Sidebar -->
                {% include 'inc/sidebar.html' %}
            <!-- /Sidebar -->
            
            
            
        
        </div>
        
    </section>
    <!-- /Section -->

</section>

{% endblock %}