{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% block gallery-link %}	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="{% static 'gallery/bootstrapt.css' %}"></script>
    {% endblock %}
   
<section id="content">	
	<section class="section full-width-bg gray-bg">
        <div class="lightbox-gallery">
            <div class="container">
                <div class="row photos">
                    
                    <div class="card my-2">
                        <div class="card-header d-flex">
                            {% for item in categories %}
                            <a href="?cat={{ item.id }}" class="btn btn-outline-success mx-1">{{ item.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% for item in object_list %}
                    <div class="col-sm-6 col-md-4 col-lg-3 item">
                        <a href="{{ item.image.url }}" data-lightbox="photos">
                        <img style="height: 180px;" class="img-fluid" src="{{ item.image.url }} " alt="{{ item.title }}"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>	        
{% endblock %}